<header class="header">
    <div class="page-branding">
        
    
    </div>
    <input type="checkbox" id="toggler" checked/>

    <div class="header-navbar" ng-class="{'fix-to-top': headerCtrl.headerScroll}">
        <ul>
            <li>
                <label>Banner Logo
                    and Text {{headerCtrl.headerScroll}}</label>
                <label for="toggler" class="toggle">☰</label>
            </li>
            <li>
                HOME
            </li>
            <li>
                TECH NEWS
            </li>
            <li>
                ANDROID
            </li>
            <li>
                MOBILE
            </li>
            <li>
                DEV
            </li>
            <li>
                About Me
            </li>
        </ul>
    </div>
</header>
