<header class="header">
    <div class="page-branding">
        
    
    </div>
    <input type="checkbox" id="toggler" checked/>

    <div class="header-navbar" ng-class="{'fix-to-top': headerCtrl.headerScroll}">
        <ul>
            <li>
                <label>F U T E R O T E C H N O</label>
                <label for="toggler" class="toggle">☰</label>
            </li>
            <li ui-sref="app.login">
                HOME
            </li>
            <li ui-sref="app.register">
                TECH NEWS
            </li>
            <li>
                ANDROID
            </li>
            <li>
                MOBILE
            </li>
            <li>
                DEV
            </li>
            <li>
                About Me
            </li>
        </ul>
    </div>
</header>
