@import "bourbon"


.main-container
    margin: 0 auto
    background-color: #D2E0D2
.main
    width: 1000px;
    margin: 10px auto;
    

@media screen and (max-width: 1200px)
    .main-container
        width: auto
    .main
        width: auto
        margin: auto
