@import "bourbon"


.main-container
    margin: 0 auto
    background-color: #F4F4F4
    min-height: 0;
.main
    width: 1000px;
    margin: 10px auto;


@media screen and (max-width: 1200px)
    .main-container
        width: auto
    .main
        max-width: 800px
        margin: auto
@media screen and (max-width: 800px)
    .main-container
        width: auto
    .main
        max-width: 100%
        margin: auto