<div layout="column" ng-cloak>
    <div class="form-wrapper">
        <div class="oauth-section">

            <div>
                <a class="btn btn-block btn-social btn-twitter" ng-click="loginCtrl.loginWithTwitter()">
                    <span class="fa fa-twitter"></span> Sign in with Twitter
                </a>
            </div>
            <div>
                <a class="btn btn-block btn-social btn-facebook" ng-click="loginCtrl.loginWithFacebook()">
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                </a>
            </div>
            <div>
                <a class="btn btn-block btn-social btn-google" ng-click="loginCtrl.loginWithGoogle()">
                    <span class="fa fa-google"></span> Sign in with Google
                </a>
            </div>
            <div>
                <a class="btn btn-block btn-social btn-github" ng-click="loginCtrl.loginWithGithub()">
                    <span class="fa fa-github"></span> Sign in with Github
                </a>
            </div>
        </div>
        <div class="seperator">
            <div>OR</div>
        </div>
        <div class="classic-login">
            <md-content layout-padding>
                <form name="projectForm">

                    <md-input-container class="md-block">
                        <label>User Name</label>
                        <md-icon ng-bind="'person'" class="person-icon"></md-icon>
                        <input required name="clientName" ng-model="loginCtrl.project.clientName">
                        <div ng-messages="projectForm.clientName.$error">
                            <div ng-message="required">User Name is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Password</label>
                        <md-icon ng-bind="'lock'" class="password-icon"></md-icon>
                        <input required name="clientPassword" ng-model="loginCtrl.project.clientPassword">
                        <div ng-messages="projectForm.clientPassword.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-checkbox name="tos" ng-model="loginCtrl.project.tos">
                            Remember me
                        </md-checkbox>
                    </md-input-container>
                    <div>
                        <md-button class="md-raised md-primary" type="submit">Login</md-button>
                    </div>

                    <p style="font-size:.8em; width: 100%; text-align: center;">
                        or login using google+, facebook or github
                    </p>
                </form>
            </md-content>
        </div>

    </div>
</div>
