<div layout="column" ng-cloak>
    <div class="form-wrapper">
        <md-content layout-padding>
            <form name="projectForm">

                <md-input-container class="md-block">
                    <label>Client Name</label>
                    <md-icon ng-bind="'person'" class="person-icon"></md-icon>
                    <input required name="clientName" ng-model="registerCtrl.project.clientName">
                    <div ng-messages="projectForm.clientName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password</label>
                    <md-icon ng-bind="'lock'" class="password-icon"></md-icon>
                    <input required name="clientPassword" ng-model="registerCtrl.project.clientPassword">
                    <div ng-messages="projectForm.clientPassword.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Confirm Password</label>
                    <md-icon ng-bind="'lock'" class="password-icon"></md-icon>
                    <input required name="clientConfirmPassword" ng-model="registerCtrl.project.clientConfirmPassword">
                    <div ng-messages="projectForm.clientConfirmPassword.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Client Email</label>
                    <md-icon ng-bind="'email'" class="email-icon"></md-icon>
                    <input required type="email" name="clientEmail" ng-model="registerCtrl.project.clientEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                    <div ng-messages="projectForm.clientEmail.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>


                <md-input-container class="md-block">
                    <md-checkbox name="tos" ng-model="registerCtrl.project.tos" required>
                        I accept the terms of service.
                    </md-checkbox>
                    <div ng-messages="projectForm.tos.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            You must accept the terms of service before you can proceed.
                        </div>
                    </div>
                </md-input-container>
                <div>
                    <md-button class="md-raised md-primary" type="submit">Submit</md-button>
                </div>

                <p style="font-size:.8em; width: 100%; text-align: center;">
                    you can also register using google+, facebook etc
                </p>
            </form>
            <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Eat cake">
                <md-icon ng-bind="'cake'"></md-icon>
            </md-button>
            <div class="lock-size" layout="row" >
                <md-fab-speed-dial md-open="registerCtrl.isOpen" md-direction="{{registerCtrl.selectedDirection}}"
                                   ng-class="registerCtrl.selectedMode">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-warn">
                            <md-icon ng-model="menu"></md-icon>
                        </md-button>
                    </md-fab-trigger>

                    <md-fab-actions>
                        <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                            <md-icon md-svg-src="img/icons/twitter.svg"></md-icon>
                        </md-button>
                        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                            <md-icon md-svg-src="img/icons/facebook.svg"></md-icon>
                        </md-button>
                        <md-button aria-label="Google" class="md-fab md-raised md-mini">
                            <md-icon md-svg-src="img/icons/hangout.svg"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>

        </md-content>

        <md-card>
            <img ng-src="/public/images/futerotechno.png" class="md-card-image " alt="Washed Out" height="50" width="50">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Icon action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
