<div class="side-bar">

    <div class="youtube-section">
        <div class="header">
         Youtube
        </div>
        <div class="content"></div>
    </div>
    <div class="connect-links">
        <div class="header">
        Connect Us
        </div>
        <div class="content"></div>
    </div>
    <div class="subscribe-email">
        <div class="header">
            Subscribe
        </div>
        <div class="content"></div>
    </div>
    <div class="recent-posts">
        <div class="header">
            RECENT
        </div>
        <div class="content"></div>
    </div>
    <div class="popular-posts">
        <div class="header">
            POPULAR
        </div>
        <div class="content"></div>
    </div>

</div>